@media all and (min-width: 550px) {
  #innerDialog {
    width: 480px;
  }
}
@media all and (max-width: 550px) {
  #innerDialog {
    min-width: 370px;
  }
}
@media all and (max-width: 430px) {
  #innerDialog {
    min-width: 82vw;
  }
}
#to-section {
  margin: 27px 0 20px;
}
#to-section p {
  width: 70px;
  display: inline-block;
}
#about-section {
  border-top: 1px solid #cccccc;
  padding-top: 12px;
  margin-bottom: 20px;
}
#about-section p {
  width: 70px;
  vertical-align: top;
  display: inline-block;
}
.about-data {
  display: inline-block;
  width: 330px;
}
.about-data div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}
.remove-undo-about {
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
  cursor: pointer;
}
#subject-section {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  padding: 14px 0;
}
#message-section {
  width: 100%
}
#message-section #textarea {
  min-height: 170px;
  max-height: 220px;
}
@media all and (max-width: 550px) {
  #message-section #textarea {
    min-height: 120px;
    max-height: 170px;
  }
}
#message-section .char-count {
  text-align: right;
}
#close-icon {
  top: 10px;
  right: 10px;
  opacity: 0.5;
  transform: scale(0.7);
  cursor: pointer;
  position: absolute;
}
#error-section {
  margin-bottom: 12px;
}